:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --bcg-secondary-color: #2f303a;
  --bcg-primary-color: #e5e5e5;
}

body {
  background-color: var(--bcg-primary-color);
  color: var(--primary-text-color);
  scroll-behavior: smooth;
}
.list {
  list-style: none;
}

header {
  background-color: var(--title-color);
}
.logo {
  font-weight: bold;
  font-size: 26px;
  color: #000000;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}
/* основной цвет #212121 */
/* вторичный цвет #757575 */
/*  голубой акцент #2196F3 */
/* белый цвет #FFFFFF */
/* фон темный #2F303A */
/* фон серый #F5F4FA */
/* фон белый #E5E5E5 */
/* текст футер rgba(255,255,255,0.6) */

/* site-nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current,
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

.contacts-nav .link {
  color: var(--primary-text-color);
}

/* Footer */
.footer {
  background-color: var(--bcg-secondary-color);
}
.footer .link {
  color: var(--footer-text-color);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
.footer a[href="https://goo.gl/maps/KZqqGX3hnb8J8rTS9"]
{
  color: var(--title-color);
}
