/* Hero */
.hero {
  background-color: var(--bcg-secondary-color);
}
.hero-title {
  color: var(--title-color);
}
/* section */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  color: var(--title-text-color);
}
.section-team-title {
  color: var(--title-text-color);
}
/* Button */
.button {
  background: var(--accent-color);
  color: var(--title-color);
}

.section.section-team {
  background-color: #f5f4fa;
}
